---

---

<div class="contenedor">
    <h1 class="titulo">Canciones</h1>
</div>

<style>
    .contenedor {
        width: 100vw;
        height: 10vh;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .titulo {
        width: auto;
        color: white;
    }
</style>
